* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(240, 240, 240);
}

:root {
    --default-font:'Poppins', sans-serif;
    --current-container-width: 350px;
}

.current-weather {
    background-color: aqua;
}

.current-weather-details {
    background-color: white;
}

.weather-tomorrow {
    background-color: cornflowerblue;
}

.daily-weather-container {
    background-color: rgb(152, 98, 202);
}

.location-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Phones */
@media screen and (min-width: 320px) {
    * {
        font-family: var(--default-font);
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .location-form {
        margin: 10px 0px 20px 0px;
    }

    #query-location {
        font-size: .9rem;
        padding: 3px 3px 3px 10px;
        border-radius: 6px;
    }

    #submit-button {
        font-size: .8rem;
        padding: 7px;
        border-radius: 6px;
        border: none;
        color: white;
        background-color: #eb6f4c;
    }

    .current-weather {
        position: relative;
        height: 230px;
        width: var(--current-container-width);
        border-radius: 30px;
    }

    .current-weather-description {
        position: absolute;
        top: 40%;
        left: 5%;
    }

    .weather-date-location {
        position: absolute;
        left: 5%;
        bottom: 15%;
    }

    .current-temp-container {
        position: absolute;
        top: 10%;
        right: 5%;
        text-align: end;
    }

    .current-temp {
        font-size: 2.5rem;
    }

    .feels-like-container {
        font-size: .8rem;
    }

    .current-weather-details {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
        margin: 15px 0px 15px 0px;
        padding: 5px;
        width: var(--current-container-width);
        border-radius: 20px;
    }

    .pop-container, .wind-container, .humidity-container {
        margin: 0px 20px 0px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: .7rem;
    }

    .daily-weather-container {
        width: 100%;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        padding: 10px;
    }

    .daily-weather {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 5px 0px 5px 0px;
        font-size: .8rem;
    }

    .daily-date-container, 
    .daily-icon-container, 
    .daily-temp-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .daily-humidity-container, 
    .daily-pop-container {
        display: none;
    }


    .daily-temp-container p {
        margin: 0px 3px 0px 3px;
    }
    
    
}

/* Tablets */
@media screen and (min-width: 480px) {

    .daily-weather-container {
        border-radius: 0;
    }

    .daily-humidity-container, 
    .daily-pop-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

}

/* Small Screens */
@media screen and (min-width: 760px) {

}

/* Desktops */
@media screen and (min-width: 1200px) {

}

