* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(240, 240, 240);
}

:root {
    --default-font:'Product Sans', sans-serif;
    --current-container-width: 90%;
    --current-weather-margin: 15px;
    --current-weather-details-margin: 15px 0px 15px 0px;
}

.current-weather {
    background-color: rgb(0, 192, 192);
    width: var(--current-container-width);
    margin-top: var(--current-weather-margin);
    color: white;
}

.current-weather-details {
    background-color: white;
    margin: var(--current-weather-details-margin);
}

.weather-tomorrow {
    background-color: cornflowerblue;
}

.location-form {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.search-icon {
    position: absolute;
    left: 5.7%;
}

#query-location {
    border: 1px solid gray;
    border-radius: 30px;
    width: 90%;
    padding: 3px 3px 3px 40px;
}

.daily-weather-container {
    display: grid;
    place-content: center;
}

.daily-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(60deg, rgb(146, 31, 146), rgb(65, 11, 65));
    margin: 10px;
    border-radius: 20px;
    color: white;
}

.daily-bottom-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
}

.daily-date {
    font-weight: 800;
}

.daily-temp-day {
    position: absolute;
    top: -15%;
    right: 0%;
    font-size: 1.5rem;
    font-weight: 800;
}

.daily-wind-container, .daily-pop-container {
    display: flex;
    align-items: center;
    font-size: 0.7rem;
}

.daily-weather span {
    font-size: 15px;
    margin-right: 5px;
}



/* Phones */
@media screen and (min-width: 280px) {
    * {
        font-family: var(--default-font);
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .search-icon {
        left: 8%;
    }
    

    #query-location {
        font-size: .9rem;
    }

    .current-weather {
        position: relative;
        height: 230px;
        border-radius: 30px;
    }

    .current-weather-description {
        position: absolute;
        top: 40%;
        left: 5%;
    }

    .weather-date-location {
        position: absolute;
        left: 5%;
        bottom: 15%;
    }

    .current-temp-container {
        position: absolute;
        top: 10%;
        right: 5%;
        text-align: end;
    }

    .current-temp {
        font-size: 2.5rem;
    }

    .feels-like-container {
        font-size: .8rem;
    }

    .current-weather-details {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
        margin: var(--current-weather-margin);
        padding: 5px;
        width: var(--current-container-width);
        border-radius: 20px;
    }

    .pop-container, .wind-container, .humidity-container {
        margin: 0px 20px 0px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: .7rem;
    }

    .daily-weather-container {
        grid-template-columns: repeat(2, 50%);
        width: 100%;
        padding: 0px 10px 10px 10px;
    }

    .daily-weather {
        height: 150px;
        font-size: .8rem;
    }

    .daily-icon {
        height: 50px;
    }
}

/* Tablets */
@media screen and (min-width: 480px) {
    .search-icon {
        left: 6.5%;
    }

    #query-location {
        font-size: 1.1rem;
        border-radius: 30px;
    }

    .current-weather {
        height: 300px;
    }

    .current-icon {
        margin-left: 10px;
    }

    .current-weather-details {
        height: 150px;
        width: 90%;
        justify-content: space-evenly;
    }

    .wind-container, .pop-container, .humidity-container {
        font-size: 1rem;
    }

    .daily-weather-container {
        display: grid;
        grid-template-columns: repeat(3, auto);
        width: 100%;
    }

    .daily-weather {
        height: 200px;
        width: 200px;
    }

    .daily-date-container, 
    .daily-icon-container, 
    .daily-temp-container {
        margin: 3px 0px 3px 0px;
        font-size: 1rem;
    }

    .daily-icon {
        height: 70px;
    }

}

/* Desktops */
@media screen and (min-width: 1200px) {
    .location-form {
        margin-top: 30px;
    }

    .search-icon {
        left: 5.5%;
    }

    #query-location {
        font-size: 1.5rem;
    }

    .current-icon {
        position: absolute;
        top: 10%;
        left: 5%;
        transform: translate(-10%, -10%);
    }

    .current-weather {
        height: 500px;
        margin-top: 30px;
        font-size: 2rem;
    }

    .current-temp {
        font-size: 5rem;
    }

    .feels-like-container {
        font-size: 1.3rem;
    }

    .current-weather-details {
        margin-top: 30px;
    }

    .wind-container, .pop-container, .humidity-container {
        font-size: 1.5rem;
    }

    .daily-weather-container {
        display: flex;
        margin-top: 30px;
    }

    .daily-weather {
        height: 300px;
        width: 250px;
    }
    
    .daily-date {
        font-size: 1.5rem;
    }

    .daily-wind-container, .daily-pop-container {
        font-size: 1rem;
    }

    .daily-temp-day {
        font-size: 2rem;
    }

    .daily-icon {
        height: 100%;
    }
}

